<div class="container">
<div class="login-component">
  <mat-card class="form-card">
    <mat-toolbar color="primary">
      <mat-card-header class="header">
          <mat-card-title>Login</mat-card-title>
      </mat-card-header>
    </mat-toolbar>
      <mat-card-content>
        <form class="login-form" >
          <table class="form-table" cellspacing="10">
            <tr>
              <td>
                <h3>Please provide your details below.</h3>
            </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="form-fields">
                <input matInput placeholder="Username" name="username" required [formControl]="userName"> 
                <mat-error *ngIf="userName.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              </td>
            </tr>
            <tr>
            <td><mat-form-field class="form-fields">
              <input matInput placeholder="Password" type="password" name="password" required [formControl]="userPassword">
              <mat-error *ngIf="userPassword.invalid">{{getErrorPassword()}}</mat-error>
            </mat-form-field>
          </td>
          </tr>
          <tr>
            <td>
              <a>Forgot password?</a>
          </td>
          </tr>
        </table>
        </form>
        <mat-card-actions>
        <button mat-raised-button color="accent" type="submit" [disabled]="!userName.valid">Sign in</button>
      </mat-card-actions>
      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit" [routerLink]="['/app-registration-page']" routerLinkActive="router-link-active" >Not registered?</button>
      </mat-card-actions>
      </mat-card-content>
    </mat-card>
</div>
</div>
