<nav class="navbar navbar-expand-md navbar-dark" style="background:#3f51b5;">
  <a class="navbar-brand" [routerLink]="['/app-home-page']" routerLinkActive="router-link-active"><strong>AutoRental</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-home-page">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-login-page">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-registration-page">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>  
    </ul>
  </div>         
</nav>

<router-outlet></router-outlet>      